.version.index /* version checker */
{
	color: #000009;
	background-color: #C1514A;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 1618px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -10px;
	width: 0.01px;
}

#pu16488
{
	width: 0.01px;
	margin-left: -100px;
}

#u16488
{
	z-index: 17;
	min-height: 446px;
	border-color: #000000;
	padding-bottom: 146px;
	background: #FFFFFF url("../images/8466788268_3b69f35bab_h.jpg") no-repeat center center;
	background-size: cover;
}

#u16488_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	position: relative;
	left: -100px;
}

#home
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 110px;
}

#ppu16519
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 270px;
}

#pu16519
{
	width: 0.01px;
}

#u16519
{
	z-index: 140;
	width: 91px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3714
{
	z-index: 76;
	width: 102px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 96px;
}

#u3710-4
{
	z-index: 77;
	width: 102px;
	min-height: 47px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 22px;
	line-height: 44px;
	letter-spacing: 0px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u3710-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 47px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u16466
{
	z-index: 81;
	width: 489px;
	height: 220px;
	background-color: #FFFFFF;
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	margin-top: 120px;
	position: relative;
}

#pu3691
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 784px;
}

#u3691
{
	z-index: 67;
	width: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 195px;
	position: relative;
}

#u1681-4
{
	z-index: 68;
	width: 86px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1685-4
{
	z-index: 72;
	width: 86px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 97px;
}

#u1681-4:hover,#u1685-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3710-4:hover p,#u1681-4:hover p,#u1685-4:hover p
{
	color: #0086A8;
	visibility: inherit;
}

#u16360
{
	z-index: 122;
	width: 378px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 154px;
	position: relative;
}

#u16365-6
{
	z-index: 123;
	width: 378px;
	min-height: 81px;
	background-color: transparent;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: left;
	font-size: 40px;
	line-height: 40px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16465-4
{
	z-index: 134;
	width: 378px;
	min-height: 137px;
	background-color: transparent;
	line-height: 22px;
	text-align: justify;
	font-size: 18px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-top: 2px;
	position: relative;
}

#u16488-bw
{
	z-index: 17;
	min-height: 446px;
}

#about
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 597px;
	left: 110px;
}

#widgetu16336
{
	z-index: 82;
	width: 0.01px;
	height: 193px;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 296px;
}

#u16347-4
{
	z-index: 83;
	width: 200px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
	left: 119px;
}

#widgetu16336.frm-sub-st #u16347-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u16337-4
{
	z-index: 87;
	width: 200px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
	left: 119px;
}

#widgetu16336.frm-sub-st #u16347-4,#widgetu16336.frm-subm-err-st #u16337-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 18px;
}

#widgetu16336.frm-subm-err-st #u16337-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u16352-4
{
	z-index: 91;
	width: 200px;
	min-height: 12px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
	left: 119px;
}

#widgetu16336.frm-subm-ok-st #u16352-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 16px;
}

#widgetu16336.frm-subm-ok-st #u16352-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u16346-17
{
	z-index: 95;
	min-height: 46px;
	width: 198px;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
	left: 120px;
	background: url("../images/u16346-17.png") no-repeat 0px 0px;
}

#u16346-17:hover
{
	background: url("../images/u16346-17-r.png") no-repeat 0px 0px;
}

#u16346-17:active
{
	background: url("../images/u16346-17-m.png") no-repeat 0px 0px;
}

#widgetu16336.frm-sub-st #u16346-17
{
	background: url("../images/u16346-17-fs.png") no-repeat 0px 0px;
}

.hidpi #u16346-17
{
	background-image: url("../images/u16346-17_2x.png");
	background-size: 198px 46px;
}

.hidpi #u16346-17:hover
{
	background-image: url("../images/u16346-17-r_2x.png");
	background-size: 198px 46px;
}

.hidpi #u16346-17:active
{
	background-image: url("../images/u16346-17-m_2x.png");
	background-size: 198px 46px;
}

.hidpi #widgetu16336.frm-sub-st #u16346-17
{
	background-image: url("../images/u16346-17-fs_2x.png");
	background-size: 198px 46px;
}

#widgetu16338
{
	z-index: 112;
	width: 440px;
	height: 38px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu16338.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 440px;
	height: 38px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u16340-4
{
	z-index: 113;
	width: 418px;
	min-height: 16px;
	border-width: 1px;
	border-style: solid;
	border-color: #BFC7D3;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 10px;
	line-height: 16px;
	font-size: 16px;
	color: #9CA4AF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

.html,#widgetu16338.non-empty-st #u16340-4
{
	background-color: #FFFFFF;
}

#widgetu16338:hover #u16340-4
{
	border-color: #6B6B6B;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 16px;
	width: 418px;
	margin: 0px -10000px 0px 0px;
}

#widgetu16338.focus-st #u16340-4
{
	border-color: #6B6B6B;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 16px;
	width: 418px;
	margin: 0px -10000px 0px 0px;
}

#widgetu16338.non-empty-st #u16340-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu16338:hover #u16340-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu16338.focus-st #u16340-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu16367
{
	z-index: 117;
	width: 440px;
	height: 38px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: -1px;
}

#widgetu16367.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 440px;
	height: 38px;
	min-height: 0px;
	margin: 56px -10000px 0px 0px;
}

#u16369-4
{
	z-index: 118;
	width: 418px;
	min-height: 16px;
	border-width: 1px;
	border-style: solid;
	border-color: #BFC7D3;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 10px;
	line-height: 16px;
	font-size: 16px;
	color: #9CA4AF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu16367.non-empty-st #u16369-4
{
	background-color: #FFFFFF;
}

#widgetu16367:hover #u16369-4
{
	border-color: #6B6B6B;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 16px;
	width: 418px;
	margin: 0px -10000px 0px 0px;
}

#widgetu16367.focus-st #u16369-4
{
	border-color: #6B6B6B;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 16px;
	width: 418px;
	margin: 0px -10000px 0px 0px;
}

#widgetu16338.fld-err-st #u16340-4,#widgetu16367.fld-err-st #u16369-4
{
	border-color: #D7244C;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 16px;
	width: 418px;
	margin: 0px -10000px 0px 0px;
}

#widgetu16367.non-empty-st #u16369-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu16367:hover #u16369-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu16367.focus-st #u16369-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu16338.fld-err-st #u16340-4 *,#widgetu16367.fld-err-st #u16369-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu16338_input,#widgetu16338_prompt,#widgetu16367_input,#widgetu16367_prompt
{
	width: 418px;
	min-height: 16px;
	color: #9CA4AF;
	font-family: source-sans-pro, sans-serif;
	font-size: 16px;
	font-style: italic;
	font-weight: 300;
	padding: 10px;
}

#widgetu16338:hover #widgetu16338_input,#widgetu16338.focus-st #widgetu16338_input,#widgetu16338.fld-err-st #widgetu16338_input,#widgetu16338:hover #widgetu16338_prompt,#widgetu16338.focus-st #widgetu16338_prompt,#widgetu16338.fld-err-st #widgetu16338_prompt,#widgetu16367:hover #widgetu16367_input,#widgetu16367.focus-st #widgetu16367_input,#widgetu16367.fld-err-st #widgetu16367_input,#widgetu16367:hover #widgetu16367_prompt,#widgetu16367.focus-st #widgetu16367_prompt,#widgetu16367.fld-err-st #widgetu16367_prompt
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#widgetu16338.non-empty-st #widgetu16338_prompt,#widgetu16367.non-empty-st #widgetu16367_prompt
{
	visibility: hidden;
}

#u16504
{
	z-index: 138;
	width: 80px;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,80,80);
	-ms-transform: matrix(-1,0,0,-1,80,80);
	transform: matrix(-1,0,0,-1,80,80);
	position: relative;
	margin-right: -10000px;
	margin-top: 566px;
	left: 660px;
}

#u16510
{
	z-index: 129;
	width: 378px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 411px;
	margin-top: 24px;
	position: relative;
}

#u16511-4
{
	z-index: 130;
	width: 378px;
	min-height: 46px;
	background-color: transparent;
	line-height: 40px;
	text-align: center;
	font-size: 40px;
	color: #F4805C;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#pu16545
{
	width: 0.01px;
	margin-left: 125px;
	margin-top: 48px;
}

#u16545
{
	z-index: 156;
	width: 247px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u16525
{
	z-index: 170;
	width: 75px;
	background-color: transparent;
	margin-left: 84px;
	position: relative;
}

#u6520
{
	z-index: 157;
	width: 247px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u6518
{
	z-index: 169;
	width: 47px;
	height: 1px;
	border-color: #000000;
	background-color: #5F6872;
	margin-left: 99px;
	position: relative;
}

#u6502
{
	z-index: 158;
	width: 247px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 30px;
	position: relative;
}

#u6504-4
{
	z-index: 165;
	width: 247px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-transform: uppercase;
	color: #262626;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 1px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6503-6
{
	z-index: 159;
	width: 247px;
	min-height: 162px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 30px;
	text-align: center;
	font-size: 15px;
	color: #696969;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u16544
{
	z-index: 172;
	width: 209px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#u16531
{
	z-index: 184;
	width: 75px;
	background-color: transparent;
	margin-left: 67px;
	position: relative;
}

#u6521
{
	z-index: 173;
	width: 209px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u6517
{
	z-index: 183;
	width: 40px;
	height: 1px;
	border-color: #000000;
	background-color: #5F6872;
	margin-left: 85px;
	position: relative;
}

#u6477
{
	z-index: 174;
	width: 209px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 30px;
	position: relative;
}

#u6479-4
{
	z-index: 179;
	width: 209px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-transform: uppercase;
	color: #262626;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 2px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
}

#u6478-4
{
	z-index: 175;
	width: 209px;
	min-height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 30px;
	text-align: center;
	font-size: 15px;
	color: #696969;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u16543
{
	z-index: 142;
	width: 227px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 712px;
}

#u16536
{
	z-index: 154;
	width: 75px;
	background-color: transparent;
	margin-left: 76px;
	position: relative;
}

#u6522
{
	z-index: 143;
	width: 227px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u6516
{
	z-index: 153;
	width: 43px;
	height: 1px;
	border-color: #000000;
	background-color: #5F6872;
	margin-left: 92px;
	position: relative;
}

#u6473
{
	z-index: 144;
	width: 227px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 30px;
	position: relative;
}

#u6475-4
{
	z-index: 149;
	width: 227px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262626;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 1px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
}

#u6474-4
{
	z-index: 145;
	width: 227px;
	min-height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 30px;
	text-align: center;
	font-size: 15px;
	color: #696969;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#pamphletu8187
{
	z-index: 19;
	width: 0.01px;
	height: 171px;
	margin-left: 103px;
	margin-top: 90px;
	position: relative;
}

#u8192
{
	z-index: 20;
	width: 46px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: 32px;
}

#u8194
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #D4D4D4;
	background-color: transparent;
}

#u8194:hover
{
	border-color: #D4D4D4;
	background-color: #D4D4D4;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u8194:active
{
	border-color: #D4D4D4;
	background-color: #D4D4D4;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u8195
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #D4D4D4;
	background-color: transparent;
	left: 19px;
}

#u8195:hover
{
	border-color: #D4D4D4;
	background-color: #EAECED;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u8195:active
{
	border-color: #D4D4D4;
	background-color: #D4D4D4;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u8193
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #D4D4D4;
	background-color: transparent;
	left: 37px;
}

#u8193:hover
{
	border-color: #D4D4D4;
	background-color: #D4D4D4;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u8193:active
{
	border-color: #D4D4D4;
	background-color: #D4D4D4;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u8194.PamphletThumbSelected,#u8195.PamphletThumbSelected,#u8193.PamphletThumbSelected
{
	border-color: #D4D4D4;
	background-color: #D4D4D4;
	border-radius: 0px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u8196
{
	position: absolute;
	width: 993px;
	background-color: transparent;
}

#u8196popup
{
	z-index: 24;
}

#u8200
{
	z-index: 25;
	width: 993px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u8202
{
	z-index: 38;
	width: 100px;
	height: 100px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 5px;
	background: transparent url("../images/john_doe.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u8202
{
	background-image: url("../images/john_doe_2x.jpg");
}

#u8201-12
{
	z-index: 26;
	width: 853px;
	min-height: 126px;
	background-color: transparent;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 140px;
}

#u8203
{
	z-index: 39;
	width: 993px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u8205
{
	z-index: 40;
	width: 100px;
	height: 100px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 5px;
	background: transparent url("../images/photo.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u8205
{
	background-image: url("../images/photo_2x.jpg");
}

#u8210-11
{
	z-index: 41;
	width: 853px;
	min-height: 126px;
	background-color: transparent;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 140px;
}

#u8197
{
	z-index: 52;
	width: 993px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u8198
{
	z-index: 53;
	width: 100px;
	height: 100px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 5px;
	background: transparent url("../images/john-doe_avatar_1436817185.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u8198
{
	background-image: url("../images/john-doe_avatar_1436817185_2x.jpg");
}

#u8216-12
{
	z-index: 54;
	width: 853px;
	min-height: 126px;
	background-color: transparent;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 140px;
}

#u8201-2,#u8210-2,#u8216-2
{
	font-size: 16px;
	line-height: 26px;
	color: #8F8F8F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u8201-3,#u8210-3,#u8216-3
{
	font-size: 13px;
	line-height: 21px;
	color: #5F6872;
	font-family: muli, sans-serif;
	font-weight: 400;
}

#u8201-10,#u8210-9,#u8216-10
{
	font-size: 13px;
	line-height: 21px;
	color: #E03F4E;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u8201-4,#u8210-4,#u8216-4
{
	color: #3C3C3C;
	font-family: raleway, sans-serif;
	font-weight: 600;
}

#u8201-5,#u8210-5,#u8216-5
{
	color: #3C3C3C;
}

#u8201-6,#u8210-6,#u8216-6
{
	color: #2BC1C5;
}

#u8201-8,#u8210-8,#u8216-8
{
	color: #8F8F8F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u8201-9,#u8216-9
{
	color: #8F8F8F;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u13143
{
	z-index: 2;
	min-height: 172px;
	padding-bottom: 45px;
}

#u13143_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u13161
{
	z-index: 3;
	width: 380px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 510px;
}

#u13144
{
	z-index: 4;
	width: 201px;
	margin-left: 90px;
}

#u13149
{
	z-index: 6;
	width: 30px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u13153
{
	z-index: 5;
	width: 30px;
	min-height: 20px;
	margin-right: -10000px;
	left: 34px;
}

#u13151
{
	z-index: 8;
	width: 30px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 68px;
}

#u13155
{
	z-index: 7;
	width: 30px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 102px;
}

#u13147
{
	z-index: 9;
	width: 30px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 137px;
}

#u13145
{
	z-index: 10;
	width: 30px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 171px;
}

#u13157-6
{
	z-index: 11;
	width: 380px;
	min-height: 16px;
	margin-top: 48px;
}

#u13143-bw
{
	z-index: 2;
	min-height: 172px;
	margin-top: 75px;
}

body
{
	position: relative;
	min-width: 1200px;
}

#page .verticalspacer
{
	clear: both;
}

