#u13143
{
	border-style: none;
	border-color: transparent;
	background-color: #4E6B8F;
}

#u13143_align_to_page
{
	position: relative;
}

#u13161,#u13144
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u13153
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #ADADAD;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
}

#u13149,#u13151,#u13155,#u13147,#u13145
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #ADADAD;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	position: relative;
}

#u13157-6
{
	background-color: transparent;
	line-height: 13px;
	text-align: center;
	font-size: 11px;
	color: #E0E2E2;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
}

