.version.service /* version checker */
{
	color: #00000B;
	background-color: #6533AD;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 713.6533872746941px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -10px;
	width: 0.01px;
}

#u16595
{
	z-index: 17;
	min-height: 106px;
	background-color: #4E6B8F;
	padding-bottom: 21px;
}

#u16595_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	position: relative;
	left: -100px;
}

#u16609
{
	z-index: 130;
	width: 91px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 270px;
}

#u16607
{
	z-index: 125;
	width: 102px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 366px;
}

#u16608-4
{
	z-index: 126;
	width: 102px;
	min-height: 47px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 22px;
	line-height: 44px;
	letter-spacing: 0px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16608-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 47px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u16604
{
	z-index: 116;
	width: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 979px;
}

#u16606-4
{
	z-index: 117;
	width: 86px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16605-4
{
	z-index: 121;
	width: 86px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 97px;
}

#u16606-4:hover,#u16605-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u16608-4:hover p,#u16606-4:hover p,#u16605-4:hover p
{
	color: #0086A8;
	visibility: inherit;
}

#u16595-bw
{
	z-index: 17;
	min-height: 106px;
}

#u16571
{
	z-index: 18;
	min-height: 614px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u16571-bw
{
	z-index: 18;
	min-height: 614px;
	margin-top: -6px;
	margin-bottom: -6px;
}

#u13073
{
	z-index: 20;
	min-height: 390px;
	border-color: #000000;
	background-color: #F6F6F6;
}

#u13073_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	position: relative;
	left: -100px;
	padding-top: 13px;
	padding-bottom: 63px;
}

#u13140
{
	z-index: 82;
	width: 740px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 329px;
	position: relative;
}

#u13142-4
{
	z-index: 83;
	width: 740px;
	min-height: 24px;
	background-color: transparent;
	color: #696969;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 1px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
}

#u13141
{
	z-index: 87;
	width: 50px;
	height: 1px;
	border-color: #000000;
	background-color: #2BC1C5;
	margin-left: 345px;
	margin-top: 13px;
	position: relative;
}

#u13111
{
	z-index: 21;
	width: 1182px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 108px;
	margin-top: 22px;
	position: relative;
}

#u13118
{
	z-index: 52;
	width: 221px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u13122
{
	z-index: 65;
	width: 100px;
	border-color: #ADADAD;
	background-color: #262626;
	border-radius: 100px;
	padding-bottom: 19px;
	margin-left: 60px;
	position: relative;
}

#u13120
{
	z-index: 66;
	width: 70px;
	min-height: 61px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	text-indent: 0px;
	font-size: 50px;
	line-height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 15px;
}

#u13119-4
{
	z-index: 61;
	width: 209px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262626;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 1px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	margin-left: 6px;
	margin-top: 36px;
	position: relative;
}

#u13123-8
{
	z-index: 53;
	width: 221px;
	min-height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	font-size: 13px;
	color: #696969;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 19px;
	position: relative;
}

#u13130
{
	z-index: 37;
	width: 221px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 320px;
}

#u13134
{
	z-index: 50;
	width: 100px;
	border-color: #ADADAD;
	background-color: #262626;
	border-radius: 100px;
	padding-bottom: 20px;
	margin-left: 60px;
	position: relative;
}

#u13131
{
	z-index: 51;
	width: 70px;
	min-height: 61px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	text-indent: 0px;
	font-size: 50px;
	line-height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 15px;
}

#u13133-4
{
	z-index: 46;
	width: 209px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262626;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 1px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	margin-left: 6px;
	margin-top: 35px;
	position: relative;
}

#u13135-8
{
	z-index: 38;
	width: 221px;
	min-height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	font-size: 13px;
	color: #696969;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 19px;
	position: relative;
}

#u13112
{
	z-index: 22;
	width: 221px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 641px;
}

#u13113
{
	z-index: 35;
	width: 100px;
	border-color: #ADADAD;
	background-color: #262626;
	border-radius: 100px;
	padding-bottom: 20px;
	margin-left: 60px;
	position: relative;
}

#u13114
{
	z-index: 36;
	width: 70px;
	min-height: 61px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	text-indent: 0px;
	font-size: 50px;
	line-height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 15px;
}

#u13116-4
{
	z-index: 31;
	width: 209px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262626;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 1px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	margin-left: 6px;
	margin-top: 35px;
	position: relative;
}

#u13117-8
{
	z-index: 23;
	width: 221px;
	min-height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	font-size: 13px;
	color: #696969;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 19px;
	position: relative;
}

#u13124
{
	z-index: 67;
	width: 221px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 961px;
}

#u13129
{
	z-index: 80;
	width: 100px;
	border-color: #ADADAD;
	background-color: #262626;
	border-radius: 100px;
	padding-bottom: 20px;
	margin-left: 60px;
	position: relative;
}

#u13122:hover,#u13134:hover,#u13113:hover,#u13129:hover
{
	background-color: #2BC1C5;
	width: 100px;
	min-height: 0px;
	margin: 0px 0px 0px 60px;
}

#u13127
{
	z-index: 81;
	width: 70px;
	min-height: 61px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	text-indent: 0px;
	font-size: 50px;
	line-height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 15px;
}

#u13125-4
{
	z-index: 76;
	width: 209px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262626;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 1px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	margin-left: 6px;
	margin-top: 35px;
	position: relative;
}

#u13126-8
{
	z-index: 68;
	width: 221px;
	min-height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	font-size: 13px;
	color: #696969;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 19px;
	position: relative;
}

#u13073-bw
{
	z-index: 20;
	min-height: 390px;
	margin-top: 519px;
}

#ppu13163
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 81px;
}

#pu13163
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u13163
{
	z-index: 88;
	width: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u13166-4
{
	z-index: 97;
	width: 454px;
	min-height: 24px;
	background-color: transparent;
	color: #262626;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
}

#u13166
{
	letter-spacing: 2px;
	font-family: raleway, sans-serif;
	font-weight: 600;
}

#u13165
{
	z-index: 101;
	width: 30px;
	height: 1px;
	border-color: #000000;
	background-color: #323944;
	margin-top: 13px;
	position: relative;
}

#u13164-8
{
	z-index: 89;
	width: 554px;
	min-height: 173px;
	background-color: transparent;
	text-align: left;
	font-size: 13px;
	line-height: 21px;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#u13164-2,#u13164-3,#u13164-5
{
	color: #696969;
	font-family: raleway, sans-serif;
}

#u13164-6
{
	color: #8F8F8F;
	font-family: open-sans, sans-serif;
}

#u13167
{
	z-index: 102;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
}

#u13168-4
{
	z-index: 103;
	width: 130px;
	min-height: 29px;
	border-color: #262626;
	background-color: #262626;
	padding-top: 13px;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	line-height: 19px;
	letter-spacing: 1px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u13168-4:hover
{
	border-color: #2BC1C5;
	background-color: #2BC1C5;
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u13168-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u13169
{
	z-index: 19;
	width: 512px;
	border-color: #000000;
	padding-bottom: 186px;
	position: relative;
	margin-right: -10000px;
	left: 658px;
	background: #FFFFFF url("../images/browser_2.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u13169
{
	background-image: url("../images/browser_2_2x.jpg");
}

#u13170
{
	z-index: 107;
	width: 308px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 103px;
}

#u13172-4
{
	z-index: 108;
	width: 308px;
	min-height: 39px;
	background-color: transparent;
	color: #2BC1C5;
	text-align: center;
	font-size: 32px;
	line-height: 38px;
	letter-spacing: 5px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u13171-4
{
	z-index: 112;
	width: 308px;
	min-height: 19px;
	background-color: transparent;
	color: #2BC1C5;
	text-align: center;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 1px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-top: 6px;
	position: relative;
}

#u13143
{
	z-index: 2;
	min-height: 172px;
	padding-bottom: 45px;
}

#u13143_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
	margin-bottom: -1px;
}

#u13161
{
	z-index: 3;
	width: 380px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 510px;
}

#u13144
{
	z-index: 4;
	width: 201px;
	margin-left: 90px;
}

#u13149
{
	z-index: 6;
	width: 30px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u13153
{
	z-index: 5;
	width: 30px;
	min-height: 20px;
	margin-right: -10000px;
	left: 34px;
}

#u13151
{
	z-index: 8;
	width: 30px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 68px;
}

#u13155
{
	z-index: 7;
	width: 30px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 102px;
}

#u13147
{
	z-index: 9;
	width: 30px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 137px;
}

#u13145
{
	z-index: 10;
	width: 30px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 171px;
}

#u13157-6
{
	z-index: 11;
	width: 380px;
	min-height: 16px;
	margin-top: 48px;
}

#u13143-bw
{
	z-index: 2;
	min-height: 172px;
	margin-top: -1px;
}

body
{
	position: relative;
	min-width: 1200px;
}

#page .verticalspacer
{
	clear: both;
}

