.browsehappy{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}.thumbnail{height:200px}.thumbnail img.pull-right{width:50px}.acme-navbar-text{color:#fff}
/*# sourceMappingURL=../maps/styles/app-ec88fa0aef.css.map */
