.browsehappy{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}.thumbnail{height:200px}.thumbnail img.pull-right{width:50px}.acme-navbar-text{color:#fff}#logo{width:5%;height:auto}
/*# sourceMappingURL=../maps/styles/app-df3d676396.css.map */
